
body{
    background-image:  url("image.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
}
#container{
    background-color: rgba(41, 41, 42, 0.995);
    max-width:30%;
    height: 70vh;
    margin-top: 20vh;
    margin-left: 95vh;
}
h1{
    margin-top:10%;
    margin-bottom:10px;
    font-size:50px;
}
h2{
    font-size:70px;
    margin-top:0px;
    margin-bottom:20px;
}
button{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    color:white;
    font-weight:bold;
    width:200px;
    height:32px;
    radius:5px;
    margin-bottom:5%;
}
#increment-btn{
    background:darkblue; 
}
#save-btn{
    background:black
}
